{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="hero-area" class="hero-area-bg">
        <div class="container">      
            <div class="row">

                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title"> 404 - Página não encontrada! <br> </h2>

                        <p class="text-hero"> Infelizmente a página que você procura não está disponível. </p>

                        <div class="header-button">
                            <a href="{% url 'index' %}" class="btn btn-common"> VOLTE PARA A PÁGINA PRINCIPAL </i></a>
                        </div>
                    </div>
                </div>
                
            </div> 
        </div> 
    </div>
{% endblock %}

