{% load static %} 

<!-- About Section --> 
<div class="about-area section-padding bg-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 info">
                <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div>
                        <div class="site-heading">
                            <p class="mb-3"> Eis a nossa missão. </p>
                            <h2 class="section-title"> Porque a Liber existe?! </h2>
                        </div>

                        <div class="content">
                            <p> 
                               É bastante evidente que nossos graciosos profissionais médicos são extremamente ocupados, logo, sua vida pessoal acaba — infelizmente — ficando um pouco de lado, e é justamente por isso que a Liber está aqui, para dar o apoio necessário para auxiliar ao máximo, desde levar o carro para uma revisão a buscar seus filhos na escola. Conte com a Liber quando mais precisar! 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <img class="img-fluid" src="{% static 'img/art.png' %}" alt="" >
            </div>

        </div>

    </div>
</div>

