{% load static %} 

<div class="about-area section-padding bg-gray">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-12 col-xs-12 info">
                <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div>

                        <div class="site-heading">
                            <!-- <p class="mb-3"> Eis a nossa missão. </p> -->
                            <h2 class="section-title"> Nossa missão </h2>
                        </div>

                        <div class="content">
                            <p> 
                               É evidente que nossos graciosos profissionais médicos são extremamente ocupados, devido as suas longas jornadas desse magnifico trabalho. Em consequência disso, acabam muito das vezes ficando sem tempo para afazeres de esfera pessoal, e é justamente por conta disso que a Liber está aqui, oferecer o apoio necessário para enfrentar as tarefas do dia a dia. Conte sempre conosco.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <img class="img-fluid" src="{% static 'img/art.png' %}" alt="" >
            </div>

        </div>

    </div>
</div>

