{% load static %} 

<!-- Footer Section --> 
<footer id="footer" class="footer-area section-padding">

    <div class="container">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="footer-logo"><img src="{% static 'img/logo-liber.png' %}" alt=""></h3>
                        
                        <div class="textwidget">
                            <p> Assessoria & Soluções para Médicos.</p>
                        </div>

                        <div class="social-icon">
                            <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                            <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel"> Serviços Gerais </h3>

                    <ul class="footer-link">
                        <li><a href="#"> Agendamentos </a></li>
                        <li><a href="#"> Soluções Gerais </a></li>
                        <li><a href="#"> Pronta Disponibilidade </a></li>
                        <li><a href="#"> XXXX </a></li>
                        <li><a href="#"> XXXX </a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel"> Recursos </h3>
                    <ul class="footer-link">
                        <li><a href="#"> Atendimento Horário Comercial </a></li>
                        <li><a href="#"> Disponibilidade de Carros/Motos </a></li>
                        <li><a href="#"> Recursos Extras </a></li>
                        <li><a href="#"> XXXX </a></li>
                        <li><a href="#"> XXXX </a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel"> Contato </h3>
                    <ul class="address">
                        <li>
                            <a href="#"><i class="lni-map-marker"></i> 105 Madison Avenue - <br> Third Floor New York, NY 10016</a>
                        </li>
                        <li>
                            <a href="#"><i class="lni-phone-handset"></i> P: +84 846 250 592</a>
                        </li>
                        <li>
                            <a href="#"><i class="lni-envelope"></i> E: contact@uideck.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>  
    </div> 

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-content">
                        <p> Copyright © 2021 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>   

</footer> 

