{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header/Menu Area wrapper Starts --> 
{% include 'header.html' %} 


<!-- Hero Area --> 
{% include 'hero_area.html' %}


<!-- Services Section Start --> 
{% include 'services.html' %}


<!-- About Section start -->
{% include 'about.html' %}


<!-- Features Section Start -->
<!-- { include 'features.html' } --:


<!-- Team Section Start (DESATIVADO TEMPORARIAMENTE) --> 
<!-- { include 'team.html'} -->


<!-- Pricing section Start --> 
{% include 'pricing.html' %}


<!-- Testimonial Section Start -->
{% include 'testimonial.html' %}


<!-- Call To Action Section Start -->
<!-- { include 'call.html' } -->


<!-- Contact Section Start -->
{% include 'contact.html' %}


<!-- Footer Section -->
{% include 'footer.html' %}


{% endblock %}

