{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Cabeçalho da área do perfil do cliente --> 
    <header id="header-wrap">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display --> 
                <a href="{% url 'index' %}" class="navbar-brand"> <img src="{% static 'img/logo-liber.png' %}" alt=""> </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"> Inicio </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="#perfil"> Meu perfil </a> 
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'solicitacao' %}"> Solicitar serviço </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"> Sair </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <section id="perfil" class="section-padding bg-gray">
        
        <!-- Titulo da página  --> 
        <div class="container">
            <div class="section-header text-center"> 
                <br><br> <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"> 
                    Bem-vindo, {{ user.first_name }} 
                </h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
        </div>


        <!-- >>>> Solicitações em abertas --> 
        <div class="container">
            <h5 class="title-servicos"> Solicitações Pendentes. <i class="fas fa-exclamation-circle"></i> </h5> 

            <div class="table-responsive"> 
                <table class="table table-striped table-solicitacoes">

                    <thead>
                        <tr>
                            <th scope="col"> IDº </th>
                            <th scope="col"> Serviço </th>
                            <th scope="col"> Data_Solicitação </th>
                            <th scope="col"> Hora_Solicitação </th>
                            <th scope="col"> Arquivo </th> 
                            <th scope="col"> Mensagem </th>  
                            <th scope="col"> Status </th>
                            <th scope="col"> Comprovante </th>
                            <th scope="col"> Observação </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for servico in servicos_solicitados %}
                            {% if servico.crm == user.crm and servico.status != 'Concluida' %}
                                <tr>
                                    <!-- ID da solicitação --> 
                                    <th scope="row"> {{ servico.id }} </th>


                                    <!-- Tipo de serviço solicitado pelo cliente --> 
                                    <td> {{ servico.tipo_de_servico }} </td>


                                    <!-- Dia da solicitação --> 
                                    <td> {{ servico.data_criado }} </td>

                                    
                                    <!-- Hora da solicitação --> 
                                    <td> {{ servico.hora_criado }} </td>


                                    <!-- O arquivo enviado --> 
                                    {% if servico.arquivo != "" %}
                                        <td> <a href="/media/{{ servico.arquivo }}"> Arquivo </a> </td> 
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td> 
                                    {% endif %}


                                    <!-- Exibir a mensagem enviada pelo o cliente na solicitação --> 
                                    <td> 
                                        <a href="#" id="{{ servico.id }}"> Mensagem </a>
                                    </td> 

                                    <!-- Mensagem do cliente --> 
                                    <script> 
                                        $("#{{ servico.id }}").click(function() {
                                            swal({
                                                text: "{{ servico.mensagem }}",
                                                button: "Fechar",
                                            });
                                        });
                                    </script>


                                    <!-- Situação da solicitação --> 
                                    <td> {{ servico.status }} </td>


                                    <!-- Comprovante de serviço --> 
                                    {% if servico.comprovante != "" %}
                                        <td> <a href="/media/{{ servico.comprovante }}"> Comprovante </a> </td> 
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td> 
                                    {% endif %}


                                    <!-- Observação enviada pelo o prestador de serviço --> 
                                    {% if servico.observacao != "" %}
                                        <td> 
                                            <a href="#" id="{{ servico.id }}1"> Mensagem </a>
                                        </td>

                                        <script> 
                                            $("#{{ servico.id }}1").click(function() {
                                                swal({
                                                    text: "{{ servico.observacao }}",
                                                    icon: "info",
                                                    button: "Fechar",
                                                });
                                            });
                                        </script>
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        

        <br> 
        <!-- ####################################################################### -->
        <!-- ####################################################################### -->
        <!-- ####################################################################### -->


        <!-- >>>> Solicitações concluidas --> 
        <div class="container">
            <h5 class="title-servicos"> Solicitações Concluídas. <i class="fas fa-user-check"></i> </h5>

            <div class="table-responsive">
                <table class="table table-striped table-solicitacoes">

                    <thead>
                        <tr>
                            <th scope="col"> IDº </th>
                            <th scope="col"> Serviço </th>
                            <th scope="col"> Data_Solicitação </th>
                            <th scope="col"> Hora_Solicitação </th>
                            <th scope="col"> Arquivo </th> 
                            <th scope="col"> Mensagem </th>  
                            <th scope="col"> Status </th>
                            <th scope="col"> Comprovante </th>
                            <th scope="col"> Observação </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for servico in servicos_solicitados %}
                            {% if servico.crm == user.crm and servico.status == 'Concluida' %}
                                <tr>
                                    <!-- ID da solicitação --> 
                                    <th scope="row"> {{ servico.id }} </th>


                                    <!-- Tipo de serviço solicitado pelo cliente --> 
                                    <td> {{ servico.tipo_de_servico }} </td>


                                    <!-- Dia da solicitação --> 
                                    <td> {{ servico.data_criado }} </td>

                                    
                                    <!-- Hora da solicitação --> 
                                    <td> {{ servico.hora_criado }} </td>


                                    <!-- O arquivo enviado --> 
                                    {% if servico.arquivo != "" %}
                                        <td> <a href="/media/{{ servico.arquivo }}"> Arquivo </a> </td> 
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td> 
                                    {% endif %}


                                    <!-- Exibir a mensagem enviada pelo o cliente na solicitação --> 
                                    <td> 
                                        <a href="#" id="{{ servico.id }}"> Mensagem </a>
                                    </td> 
                                    
                                    <!-- Mensagem do cliente -->
                                    <script> 
                                        $("#{{ servico.id }}").click(function() {
                                            swal({
                                                text: "{{ servico.mensagem }}",
                                                button: "Fechar",
                                            });
                                        });
                                    </script>


                                    <!-- Situação da solicitação --> 
                                    <td> {{ servico.status }} </td>


                                    <!-- Comprovante de serviço -->
                                    {% if servico.comprovante != "" %}
                                        <td> <a href="/media/{{ servico.comprovante }}"> Comprovante </a> </td> 
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td> 
                                    {% endif %}


                                    <!-- Observação enviada pelo o prestador de serviço --> 
                                    {% if servico.observacao != "" %}
                                        <td> 
                                            <a href="#" id="{{ servico.id }}1"> Mensagem </a>
                                        </td>

                                        <script> 
                                            $("#{{ servico.id }}1").click(function() {
                                                swal({
                                                    text: "{{ servico.observacao }}",
                                                    icon: "success",
                                                    button: "Fechar",
                                                });
                                            });
                                        </script>
                                    {% else %}
                                        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> - </strong> </td>
                                    {% endif %}

                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </section>

    <!-- Rodapé --> 
    <footer id="footer">
        
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-content">
                            <p> Copyright © 2021 Liber. CNPJ 43.982.637/0001-33 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

    </footer> 

{% endblock %}

