{% load static %} 

<!-- Pricing section --> 
<section id="pricing" class="section-padding">
    <div class="container">

        <div class="section-header text-center">          
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"> Planos </h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">

            <!-- Plano Básico -->
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInLeft" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-package"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value">R$ 350 <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> Básico </h3>
                    </div>

                    <ul class="description">
                        <li> Orçamentos </li>
                        <li> Pedidos de 2º via de conta </li>
                        <li> Telemarketing </li>
                        <li> Agendamento </li>
                        <li> Médico </li>
                        <li> Dentista </li>
                    </ul>

                    <button class="btn btn-common"> Contratar </button>
                </div> 
            </div>

            <!-- Plano Premium (Médio) -->
            <div class="col-lg-4 col-md-6 col-xs-12 active">
                <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-drop"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value"> R$ 600 <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> Premium </h3>
                    </div>

                    <ul class="description">
                        <li> Incluso beneficios do Básico </li>
                        <li> Disponibilidade de 5 saídas </li>
                        <li> 1 urgência * </li>
                        <li> + Restaurantes </li>
                        <li> + Eventos </li>
                        <li> + Carros </li>
                    </ul>

                    <button class="btn btn-common"> Contratar </button>
                </div> 
            </div>
            
            <!-- Plano TOP  -->
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-star"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value">R$ 900 <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> TOP - Black </h3>
                    </div>

                    <ul class="description">
                        <li> Inclusos Básico/Premium </li>
                        <li> Disponibilidade de 8 saídas </li>
                        <li> Urgência (com pronta dispo.) </li>
                        <li> + Viagens </li>
                        <li> + Dispo. Finais de Semana </li>
                        <li> + Qualquer Agendamento </li>
                    </ul>
                    <button class="btn btn-common"> Contratar </button>
                </div> 
            </div>
        </div>

    </div>
</section>

