{% load static %} 

<section id="pricing" class="section-padding">
    <div class="container">

        <div class="section-header text-center">          
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"> Planos </h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">

            <!-- Plano Básico --> 
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInLeft" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-package"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value">R$ - <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> Basic </h3>
                    </div>

                    <ul class="description"> 
                        <li> • Orçamentos;        <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Serviços Online;   <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Agendamentos;      <i class="fas fa-check-circle check-plans"></i> </li>
                        <li style="text-align: center;"> - </li>
                        <li style="text-align: center;"> - </li>
                        <li style="text-align: center;"> - </li>
                    </ul>

                    <a href="#contact" class="btn btn-common"> Contratar </i></a>
                </div> 
            </div>


            <!-- Plano Premium --> 
            <div class="col-lg-4 col-md-6 col-xs-12 active">
                <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-drop"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value"> R$ - <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> Premium </h3> 
                    </div>

                    <ul class="description">
                        <li> • Orçamentos;                <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Serviços Online;           <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Agendamentos;              <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • 5 Serviços Presenciais;    <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • 1 Prioridade;              <i class="fas fa-check-circle check-plans"></i> </li>
                        <li style="text-align: center;"> - </li> 
                    </ul>

                    <a href="#contact" class="btn btn-common"> Contratar </i></a>
                </div> 
            </div> 
            

            <!-- Plano Super Green --> 
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-star"></i>
                    </div>

                    <div class="pricing-header">
                        <p class="price-value">R$ - <span> /mês </span></p>
                    </div>

                    <div class="title">
                        <h3> Super Green </h3> 
                    </div>

                    <ul class="description">
                        <li> • Orçamentos                                   <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Serviços Online                              <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Agendamentos                                 <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • Agend. Viagens                               <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • 8 Serviços Presenciais                       <i class="fas fa-check-circle check-plans"></i> </li>
                        <li> • <strong> Priori. em Solicitações </strong>   <i class="fas fa-check-circle check-plans"></i> </li>
                    </ul>

                    <a href="#contact" class="btn btn-common"> Contratar </i></a>
                </div> 
            </div>
            
        </div>

    </div>
</section>

