{% load static %}

<section id="services" class="section-padding">
    <div class="container">
        
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"> Nossos serviços </h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">

            <!-- Todo conteudo dos serviços são estáticos, por isso grande qtd de código HTML --> 

            <!-- >>>> SERVIÇO HOME --> 
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-home"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Home </a> </h3>

                        <p> 
                            Oferecemos um serviço para resolver qualquer problema/necessidade caseiras. 
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_home" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>>  MODAL SERVIÇO HOME --> 
            <div class="modal fade" id="modal_home" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    
                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Opções disponiveis:  
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- Especificação Serviço -->
                        <div class="modal-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFaturas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Pagar Faturas. </strong> 
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownFaturas">
                                            <a class="dropdown-item" href="{% url 'solicitacao' %}"> Água / Luz </a>
                                            <a class="dropdown-item" href="{% url 'solicitacao' %}"> Gás </a>
                                            <a class="dropdown-item" href="{% url 'solicitacao' %}"> Internet </a>
                                            <a class="dropdown-item" href="{% url 'solicitacao' %}"> TV a Cabo </a>
                                            <a class="dropdown-item" href="{% url 'solicitacao' %}"> Condominio </a>
                                        </div> 
                                    </div>
                                </li> 

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Serviços Domésticos. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Reparos & Reformas.  </strong>
                                        </a>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Contratar Serviços / Eventos. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Frete / Mudanças. </strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            <!-- ####################################################################### -->


            <!-- >>>> SERVIÇO VEICULO --> 
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-car"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Veiculo </a> </h3>

                        <p> 
                            Desde alinhamento/balanceamento à solicitação de guinchos, todo tipo de suporte! 
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_veiculo" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>>> MODAL SERVIÇO VEICULO --> 
            <div class="modal fade" id="modal_veiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Opções disponiveis: 
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- Especificação Serviço -->
                        <div class="modal-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Automóvel para Oficina. </strong> 
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Despacho / Guincho.  </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Seguro / CNH / Multas. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Levar para lugar desejado. </strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>

                    </div>

                </div>
            </div>


            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            

            <!-- >>>> SERVIÇO OFFICE BOY --> 
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-bi-cycle"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Office-Boy </a> </h3>

                        <p> 
                            Um serviço de Office Boy para atender com rapidez/agilidade a sua necessidade.
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_office_boy" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>> MODAL SERVIÇO OFFICE BOY --> 
            <div class="modal fade" id="modal_office_boy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Opções disponiveis:  
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- Especificação Serviço -->
                        <div class="modal-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Entrega de Documentos. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Buscar Compras.  </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Pagamentos em Bancos. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Serviços de Cartório. </strong>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>

                    </div>

                </div>
            </div>


            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            <!-- ####################################################################### -->


            <!-- >>>> SERVIÇO AGENDAMENTO --> 
            <div class="col-md-6 col-lg-4 col-xs-12"> 
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-agenda"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Agendamentos </a> </h3>

                        <p> 
                            Precisa realizar qualquer tipo de agendamento?! Deixa com a gente!
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_agendamento" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>> MODAL SERVIÇO AGENDAMENTO --> 
            <div class="modal fade" id="modal_agendamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Opções disponiveis: 
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- Especificação Serviço -->
                        <div class="modal-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Dentistas. </strong> 
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Médicos. </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Passagem / Eventos.  </strong>
                                        </a>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-angle-double-right"></i> &nbsp; Restaurantes. </strong>  
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>

                    </div>

                </div>
            </div>


            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            <!-- ####################################################################### -->


            <!-- >>>> SERVIÇO 'CASO PRECISE' --> 
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-bolt-alt"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Caso Precise </a> </h3>

                        <p> 
                            Você nos diz qual é o seu problema/necessidade que resolveremos
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_caso_precise" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>> MODAL 'CASO PRECISE' --> 
            <div class="modal fade" id="modal_caso_precise" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Opções disponiveis:  
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- Especificação Serviço --> 
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="{% url 'solicitacao' %}">
                                            <strong> <i class="fas fa-star"></i> &nbsp; Solicitar serviço especifico.  </strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- ####################################################################### -->
            <!-- ####################################################################### -->
            <!-- ####################################################################### -->


            <!-- >>>> SERVIÇO COMPROVANTES DE SERVIÇO --> 
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">

                    <!-- Icone do Serviço -->
                    <div class="icon">
                        <i class="lni-paperclip"></i>
                    </div>

                    <!-- Nome/Descrição do Serviço -->
                    <div class="services-content">
                        <h3> <a> Comprovantes de Serviço </a> </h3>

                        <p> 
                            Obter um retorno/andamento de todas as suas solicitações.
                        </p>

                        <br>
                        <a href="#" data-toggle="modal" data-target="#modal_comprovante" class="btn btn-common"> 
                            Saiba mais 
                        </a>
                    </div>
                </div>
            </div> 

            <!-- >>>> MODAL COMPROVANTES DE SERVIÇO --> 
            <div class="modal fade" id="modal_comprovante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <!-- Cabeçalho/Nome Serviço --> 
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Apenas informativo.
                            </h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!-- Especificação Serviço -->
                        <div class="modal-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="dropdown text-list">
                                        <strong> <i class="fas fa-check-square"></i> &nbsp; Comprovantes / Notas Fiscais. </strong>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown text-list">
                                        <strong> <i class="fas fa-check-square"></i> &nbsp; Acompanhamento em tempo real. </strong>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown text-list">
                                        <strong> <i class="fas fa-check-square"></i> &nbsp; Informações da solicitação. </strong> 
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="dropdown text-list">
                                        <strong> <i class="fas fa-check-square"></i>&nbsp; Design Intuitivo. </strong>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Fechar </button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        
    </div>
</section>

